#main{
    width:90%;
    margin-left : auto;
    margin-right : auto;
    max-width: 900px;
}

#intro .photo img{
    width: 250px;
    border-radius: 125px;
    margin-bottom: 50px;
    border-width: 3px;
    border-style: solid;
}

#footer h2{
    text-align: center;
}

#footer .button{
    display: block;
    width: 100%;
}

#footer .spacer {
    display: block;
    height: 40px;
}

.title {
    text-align: center;;
}

.mini-post img {
    display: block;
    width: 100%;
    height: auto; /* Fix pour safari */
}